/* src/Sidebar.css */
.sidebar .nav-item {
    position: relative;
  }
  
  .sidebar .submenu {
    display: none;
    position: absolute;
    left: 150px; /* Align submenu next to the parent menu */
    top: 0;
    background-color: #f8f9fa; /* Same as the sidebar background */
    width: 200px; /* Adjust the width of the submenu */
    z-index: 1000;
  }
  
  .sidebar .nav-item:hover .submenu {
    display: block;
  }
  
  .sidebar .submenu .nav-link {
    padding-left: 1.5rem; /* Add padding to align with main menu items */
  }
  

  /* add new lesson page */
  .wrap{
    margin: 20px;
  }